<h1>Change password</h1>
<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
  {{errorMessage}}
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <div class="form-group">
    <label for="password">Current password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Current password" formControlName="password" minlength="2" required>
  </div>
  <div class="form-group">
    <label for="newPassword">New password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password" formControlName="newPassword" minlength="2" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid || isSubmitted">Submit</button>
</form>
