<div class="row">
  <div class="col-4">
    <img class="img-fluid" src="{{getPhoto(plant.fotoPath)}}" alt="Plant Photo">
  </div>
  <div class="col-8">
    <p>Name: {{plant.name}}</p>
    <p>Result: {{result.prediction}}</p>
    <p>Accuracy: {{result.accuracy | number: '1.0-2'}}%</p>
    <p>Fieldname: {{plant.fieldName}}</p>
    <p>Created At: {{plant.createdAt | date:'dd/MM/yyyy - HH:mm'}}</p>
    <p><button class="btn btn-danger text-white" (click)="delete(plant.id, plant.resultId)"><i class="fas fa-trash"></i></button></p>
  </div>
</div>
