
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

@font-face {
  font-family: Proxima Nova;
  src: url(assets/ProximaNova-Regular.otf) format("opentype");
}

$theme-colors: (
  "primary":   #81bb26,
);

.pointer:hover{cursor: pointer;}
