<h1>Vito Plant Analyser</h1>
<p>Welcome on the website off the Vito Plant Analyser, you must be logged in to use this app. </p>
<p>In the tab Upload you can upload a photo from your computer and get back a result.</p>
<p>In the tab Results you have a list of all your plants with there name and date, there you can select a plant and get a more detailed overview.</p>
<p>On the tab App you can download our mobile application</p>
<h3>The Mobile App</h3>
<p>This app will help you manage your crops by detecting their age.</p>
<p>When you’ve registered an account you can download this app and start uploading pictures of your crops.</p>
<p>The application is capable of taking pictures or uploading pictures from your gallery.</p>
<p>You can also view all your results in the results page where you can see the photo you uploaded, the name of the plant, the prediction, the accuracy and much more. </p>
